*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    background-color: pink;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    aspect-ratio: 1/1;
    margin: auto;
}
.box{
    background-color: pink;
}
button{
    margin: 25px auto;
    display: block;
}